<h1> Agregar comentario del restaurant <%= @restaurant.name %></h1>
<%= simple_form_for [@restaurant, @review] do |form| %>
	<%= form.input :content %>
  <%= form.input :rating %>
	<%= form.button :submit%>
<% end %>
